annotator/tool/data/standard/StructuralModel-XSD/Sales/Payment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:common="http://domainmodel.pts_fsm.org/2015/10/29/common"

        xmlns:payment="http://domainmodel.pts_fsm.org/2015/10/29/payment"
        targetNamespace="http://domainmodel.pts_fsm.org/2015/10/29/payment" elementFormDefault="qualified">

    <xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/common" schemaLocation="../Common/Common.xsd"/>

    <xsd:complexType name="PaymentMode">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0">
            <xsd:element name="ImmediatePayment" type="xsd:boolean" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        If true, ImmediatePayment is chosen, if false DeferredPayment is chosen.
                        The RSP should return offers accordingly to the Payment Mode chosen.
                        Occurrence Indicators : one and only one ImmediatePayment must be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ImmediatePaymentCondition" type="payment:ImmediatePaymentCondition" minOccurs="0"
                         maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Condition for immediate payment.
                        Occurrence Indicators : one ImmediatePaymentCondition can optionally be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ImmediatePaymentCondition">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0">
            <xsd:element name="Restriction" type="common:AdditionalEntry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Restriction applied to the immediate payment using key/value pair.
                        Occurrence Indicators : one to many "Restrictions" can optionally be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CardType" type="common:MasterData.GUID" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">MasterData type used to define the type of card used for immediate
                        payment.
                        Occurrence Indicators : one to many "CardType" can optionally be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="TermsAndConditions" type="common:GenericTextMessage" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Terms and conditions of the immediate payment as plain text.
                        Occurrence Indicators : one to many "TermsAndConditions" can optionally be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ImmediatePaymentReceipt">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0" maxOccurs="1">
            <xsd:element name="BookingIdRef" type="xsd:NMTOKEN" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The identification of the booking that has been paid.
                        Occurrence Indicators : one and only one BookingIdRef must be provided.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AuthorisationNumber" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Authorisation Number.
                        Occurrence Indicators : one and only one AuthorisationNumber must be provided.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CardType" type="common:MasterData.GUID" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">MasterData type used to define the type of card used for immediate
                        payment.
                        Occurrence Indicators : one and only one CardType must be provided.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="TransactionDateTime" type="common:DateOrTimeOrDateTime" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Transaction Date Time.
                        Occurrence Indicators : one and only one TransactionDateTime must be provided.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Seller" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Seller Plain Text.
                        Occurrence Indicators : one and only one Seller must be provided.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SellerCode" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Seller Code.
                        Occurrence Indicators : one and only one SellerCode must be provided.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CardNumber" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Card Number.
                        Occurrence Indicators : one and only one CardNumber must be provided.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Amount" type="xsd:decimal" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">An amount of money. The value is set
                        according to the currency specified with CurrencyId.
                        Occurrence Indicators : one and only one Amount must be provided.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CurrencyId" type="common:MasterData.GUID" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">MasterData type used to indicates the currency of the immediate
                        payment.
                        Occurrence Indicators : one and only one CurrencyId must be provided.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="TransactionType" type="common:MasterData.GUID" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">MasterData type used to define the transaction type (debit,
                        credit).
                        Occurrence Indicators : one and only one TransactionType must be provided.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Label" type="common:GenericTextMessage" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Style Label.
                        ex: "This is your payment receipt. Your booking confirmation
                        will serve as evidence of payment".
                        Occurrence Indicators : one and only one Label must be provided.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PaymentAdditionalInformation">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="1">
            <xsd:element name="AdditionalInformationText" type="common:GenericTextMessage" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Used to transmit additional information related
                        to the current payment mode (e.g. the type of credit card which is
                        supported for the current sale).
                        Occurrence Indicators : one AdditionalInformation can optionally be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AdditionalInformationType" type="common:MasterData.GUID" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">MasterData type used to indicates the type of additional
                        information provided for the payment.
                        Occurrence Indicators : one AdditionalInformationType can optionally be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AdditionalInformation" type="common:AdditionalEntry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Occurrence Indicators : one to many AdditionalInformation can optionally be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SecuredExternalImmediatePayment">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="1">
            <xsd:element name="InputInformation" type="common:AdditionalEntry" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Additional elements.
                        Occurrence Indicators : one to many InputInformation can optionally be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SecuredImmediatePayment">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="1">
            <xsd:element name="Amount" type="xsd:decimal" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">An amount of money. The value is set
                        according to the currency specified with CurrencyId.
                        Occurrence Indicators : one and only one Amount must be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PaymentCardHolderName" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Name of the card holder
                        Occurrence Indicators : one and only one PaymentCardHolderName must be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CurrencyId" type="common:MasterData.GUID" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">MasterData type used to indicates the currency of the immediate
                        payment.
                        Occurrence Indicators : one and only one CurrencyId must be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PostalAddress" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Postal Address of card holder.
                        Occurrence Indicators : one and only one "PostalAddress" can optionally be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AdditionalSecurePaymentInfo" type="common:AdditionalEntry" minOccurs="0"
                         maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Additional Information.
                        Occurrence Indicators : one to many "AdditionalSecurePaymentInfo" can optionally be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SecuredThreeDImmediatePayment">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">3D Secure Immediate Payment Information</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="payment:SecuredImmediatePayment">
                <xsd:sequence minOccurs="1">
                    <xsd:element name="TokenProvider" type="xsd:string" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">3D Secure payment Token Provider.
                                Occurrence Indicators : one and only one TokenProvider must be provided.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="TokenId" type="xsd:string" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">3D Secure payment Token Identifier.
                                Occurrence Indicators : one and only one TokenId must be provided.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="VCC" minOccurs="1" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">3D Secure payment Temporary CVV number.
                                Occurrence Indicators : one and only one "VCC" must be provided.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SecuredPCIDSSImmediatePayment">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">PCI_DSS Secure Immediate Payment Information</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="payment:SecuredImmediatePayment">
                <xsd:sequence minOccurs="1">
                    <xsd:element name="CardType" type="common:MasterData.GUID" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">MasterData type used to define the type of card used for
                                immediate payment.
                                Occurrence Indicators : one and only one "CardType" must be provided.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CardNumber" type="xsd:string" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Card Number.
                                Occurrence Indicators : one and only one "CardNumber" must be provided.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ExpirationDate" type="common:DateOrYearMonth" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Card Expiration Date.
                                Occurrence Indicators : one and only one "ExpirationDate" must be provided.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="cvv" type="xsd:string" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Card CVV number.
                                Occurrence Indicators : one and only one "cvv" must be provided.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="ImmediatePaymentAvailability">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Information related to the
                ImmediatePaymentAvailability
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Not Available"/>
            <xsd:enumeration value="Optional"/>
            <xsd:enumeration value="Mandatory"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
