sprint_files/tmps36kjtkr/standard/StructuralModel-XSD/AfterSales/AfterSales.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:common="http://domainmodel.pts_fsm.org/2015/10/29/common"
        xmlns:booking="http://domainmodel.pts_fsm.org/2015/10/29/booking"
        xmlns:offering="http://domainmodel.pts_fsm.org/2015/10/29/offering"
        xmlns:passenger="http://domainmodel.pts_fsm.org/2015/10/29/passenger"
        xmlns:tariff="http://domainmodel.pts_fsm.org/2015/10/29/tariff"
        xmlns:journeyplan="http://domainmodel.pts_fsm.org/2015/10/29/journeyplan"

        xmlns:after.sales="http://domainmodel.pts_fsm.org/2015/10/29/after.sales"
        targetNamespace="http://domainmodel.pts_fsm.org/2015/10/29/after.sales" elementFormDefault="qualified">

    <xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/common" schemaLocation="../Common/Common.xsd"/>
    <xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/booking"
                schemaLocation="../../StructuralModel-XSD/Booking/Booking.xsd"/>
    <xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/offering"
                schemaLocation="../../StructuralModel-XSD/Offering/Offering.xsd"/>
    <xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/passenger"
                schemaLocation="../../StructuralModel-XSD/Passenger/Passenger.xsd"/>
    <xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/tariff" schemaLocation="../Sales/Tariff.xsd"/>
    <xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/journeyplan"
                schemaLocation="../../StructuralModel-XSD/GeoInfra/JourneyPlan.xsd"/>

    <xsd:complexType name="AfterSaleSessionId">
        <xsd:complexContent>
            <xsd:extension base="common:FSM.ID">
                <xsd:attribute name="AfterSaleSessionTimeLimit" type="xsd:dateTime" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Indicates the Offer
                            date and Time Limit in UTC using the following format specified
                            by ISO 8601; YYYY-MM-DDThh:mm:ssZ with time values using the 24
                            hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes
                            2003-11-20T13:59:38Z).
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="RefundQuote">
        <xsd:complexContent>
            <xsd:extension base="common:FSM.ID">
                <xsd:sequence minOccurs="0">
                    <xsd:element name="RefundQuote" type="tariff:AfterSaleFare" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The Refund Quotation. Occurrence Indicators : one to many
                                "RefundQuote" can be provided. At least one is mandatory.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="RefundOfferTimeLimit" type="xsd:dateTime" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Indicates the Offer
                            date and Time Limit in UTC using the following format specified
                            by ISO 8601; YYYY-MM-DDThh:mm:ssZ with time values using the 24
                            hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes
                            2003-11-20T13:59:38Z).
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ExchangeAmount">
        <xsd:complexContent>
            <xsd:extension base="common:FSM.ID">
                <xsd:sequence minOccurs="0">
                    <xsd:element name="ExchangeAmount" type="tariff:AfterSaleFare" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The ExchangeAmount Quotation. Occurrence Indicators : one
                                to many "ExchangeAmount" can be provided. At least one is mandatory.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="RefundAmount">
        <xsd:complexContent>
            <xsd:extension base="common:FSM.ID">
                <xsd:sequence minOccurs="0">
                    <xsd:element name="RefundAmount" type="tariff:AfterSaleFare" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The RefundAmount Quotation. Occurrence Indicators : one to
                                many "RefundAmount" can be provided. At least one is mandatory.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="AfterSaleItemsTarget">
        <xsd:complexContent>
            <xsd:extension base="common:FSM.ID">
                <xsd:sequence>
                    <xsd:choice minOccurs="0" maxOccurs="1">
                        <xsd:element name="CarrierServiceItemIdRefsList" type="xsd:NMTOKENS" minOccurs="1"
                                     maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">CarrierServiceItems Reference requires to refer to CSI
                                    by their ID, by default the CSI RSP_ID attribute is used. NMTOKENS allows to refers
                                    to many Ids separated with white-spaces. The setting of this parameter is required.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="CarrierServiceItemRefsList" type="xsd:IDREFS" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">CarrierServiceItem Reference requires to refer to CSI
                                    from the complete booking object using ID and IDREFS. Occurrence Indicator : the
                                    setting of this parameter is required. IDREFS type allows to refer to many IDs
                                    separated with white-spaces.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice minOccurs="0" maxOccurs="1">
                        <xsd:element name="PassengerIdRefsList" type="xsd:NMTOKENS" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Passenger References requires to refer to passengers by
                                    their ID, by default passengers RSP_ID attribute is used. NMTOKENS allows to refers
                                    to many Ids separated with white-spaces. The setting of this parameter is required.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="PassengerRefsList" type="xsd:IDREFS" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Passenger References requires to refer to Passengers
                                    from the complete booking object using ID and IDREFS. Occurrence Indicator : the
                                    setting of this parameter is required. IDREFS type allows to refer to many IDs
                                    separated with white-spaces.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                    <xsd:choice minOccurs="0" maxOccurs="1">
                        <xsd:element name="SegmentIdentifier" type="after.sales:SegmentRefsIdentifier" minOccurs="1"
                                     maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Segment and itinerary references requires to refer to
                                    Segments and itinerary by their ID, by default Segments and Itinerary RSP_ID
                                    attribute is used. One to many "SegmentIdentifier" can be provided and at least one
                                    is mandatory. The setting of this parameter is required.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="SegmentRefsList" type="xsd:IDREFS" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Segment References requires to refer to Segments from
                                    the complete booking object using ID and IDREFS. Occurrence Indicator : the setting
                                    of this parameter is required. IDREFS type allows to refer to many IDs separated
                                    with white-spaces.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                    <xsd:element name="SegmentPassengerBinding" type="after.sales:SegmentPassengerBinding" minOccurs="0"
                                 maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">
                                Segment Passenger Binding. Occurrence Indicators : one to many "SegmentPassengerBinding"
                                can optionally be defined.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:complexType name="SegmentPassengerBinding">
        <xsd:sequence minOccurs="0" maxOccurs="1">
            <xsd:choice minOccurs="1" maxOccurs="1">
                <xsd:element name="PassengerIdRefsList" type="xsd:NMTOKENS" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">References to passengers using Ids, by default RSP_ID are used.
                            Occurrence Indicator : if the "SegmentPassengerRefsBinding" element exist : at least one
                            passenger needs to be defined, NMTOKENS type allows to add multiple ID references separated
                            with white-spaces
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PassengerRefsList" type="xsd:IDREFS" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">References to passengers using IDREFS. Occurrence Indicator :
                            if the "SegmentPassengerRefsBinding" element exist : at least one passenger needs to be
                            defined, IDREFS type allows to add multiple ID references separated with white-spaces
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:choice minOccurs="1" maxOccurs="1">
                <xsd:element name="SegmentIdentifier" type="after.sales:SegmentRefsIdentifier" minOccurs="1"
                             maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Segment and itinerary references requires to refer to Segments
                            and itinerary by their ID, by default Segments and Itinerary RSP_ID attribute is used. One
                            to many "SegmentIdentifier" can be provided and at least one is mandatory. The setting of
                            this parameter is required.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SegmentRefsList" type="xsd:IDREFS" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">References to segments using IDREFS (requires the booking
                            object within the message). Occurrence Indicator : if "SegmentPassengerRefsBinding" element
                            exist : at least one segment needs to be bound to passengers, IDREFS type allows to add
                            multiple ID references separated with white-spaces
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SegmentRefsIdentifier">
        <xsd:sequence minOccurs="0">
            <xsd:element name="SegmentIdRefsList" type="xsd:NMTOKENS" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Segment reference using Ids, by default RSP_ID in attribute is
                        used. NMTOKENS types allows to refer to many IDs separated with white-spaces.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="ItineraryIdRef" type="xsd:NMTOKEN" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Segment reference using Id, by default RSP_ID in attribute is used.
                    NMTOKEN types allows to refer to only one ID.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="AfterSaleCarrierOffer">
        <xsd:complexContent>
            <xsd:extension base="offering:CarrierOffer">
                <xsd:sequence minOccurs="0">
                    <xsd:element name="Fare" type="tariff:AfterSaleFare" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Provides fare information related to the current carrier
                                offer.
                                It can include both the total and the drill down per passenger, product, segment using
                                IDREFS.
                                Occurrence Indicators : one to many "Fare" can be defined. At least one is mandatory.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="AfterSaleCarrierOfferContainer">
        <xsd:complexContent>
            <xsd:extension base="offering:CarrierOfferContainer">
                <xsd:sequence minOccurs="0">
                    <xsd:element name="CarrierOffer" type="after.sales:AfterSaleCarrierOffer" minOccurs="1"
                                 maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">List of all carrier offers available for the sale.
                                Occurrence Indicators : The FSM api supports all possible ways of proposing carrier
                                offers in case of multiple passengers and segments:
                                1) single carrier offers for all passengers and segments
                                2) distinct carrier offers for each passenger but all segments
                                3) distinct carrier offers for each couple: passenger + segment.
                                Hybrid situations could occur in case of non homogeneous trips where for example 1
                                segment is traveled by only one passenger and another segment is traveled by both
                                passengers.
                                In this particular scenario, some carrier offers may refer to only one passenger and one
                                segment, some to all passengers but one segment and some to one passenger but all
                                segments.
                                The same logic applies also to ancillary services which can be returned either bundled
                                with the admission within a single carrier offer or listed separately in dedicated
                                carrier offers.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>