sprint_files/tmphg5ia29g/standard/StructuralModel-XSD/Passenger/Passenger.xsd

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:common="http://domainmodel.pts_fsm.org/2015/10/29/common"
        xmlns:transportation="http://domainmodel.pts_fsm.org/2015/10/29/transportation"
        xmlns:tariff="http://domainmodel.pts_fsm.org/2015/10/29/tariff"
        xmlns:passenger="http://domainmodel.pts_fsm.org/2015/10/29/passenger"
        xmlns:offering="http://domainmodel.pts_fsm.org/2015/10/29/offering"
        xmlns:journeyplan="http://domainmodel.pts_fsm.org/2015/10/29/journeyplan"
        targetNamespace="http://domainmodel.pts_fsm.org/2015/10/29/passenger" elementFormDefault="qualified">

    <xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/common" schemaLocation="../Common/Common.xsd"/>
    <xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/transportation"
                schemaLocation="../GeoInfra/Transportation.xsd"/>
    <xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/tariff" schemaLocation="../Sales/Tariff.xsd"/>
    <xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/offering"
                schemaLocation="../Offering/Offering.xsd"/>
    <xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/journeyplan"
                schemaLocation="../../StructuralModel-XSD/GeoInfra/JourneyPlan.xsd"/>

    <xsd:complexType name="Identity">
        <xsd:complexContent>
            <xsd:extension base="common:FSM.ID">
                <xsd:attribute name="IdentityCard" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The identity may be represented by the passengers name, by the
                            identifier of a passport or other type of pass, etc.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="CardName" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Name of the card used for identification.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="PassengerData">
        <xsd:complexContent>
            <xsd:extension base="common:FSM.ID">
                <xsd:sequence minOccurs="0">
                    <xsd:element name="PRMTypeId" type="common:MasterData.GUID" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">MasterData type used to indicates the different types of
                                PRM Type associated to the current passenger. Occurrence Indicators : a passenger can
                                have none to many PRM type
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="IdentityTypeId" type="common:MasterData.GUID" minOccurs="0"
                                 maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">MasterData type used to indicates the type of identity
                                which the passenger has to provide for benefits or for special discount for PRM,
                                seniors, students, etc.
                                In some cases even the concrete ID or pass data have to be provided. Occurrence
                                Indicators : optionally the passenger may need to provide one to many Id (e.g.
                                International Pass + Student Pass)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="PassengerTypeId" type="common:MasterData.GUID" minOccurs="0"
                                 maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">MasterData type used to indicates the passenger type. It
                                may be indicated to provide more details for assistance and grouping of places (e.g. for
                                companions of PRM). Occurrence Indicators : optionally the passenger may belong to
                                different types.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DateOfBirth" type="xsd:date" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Occurrence Indicators : optionally passengers need to
                                provide their date of birth.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Age" type="common:Numeric1to999" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Occurrence Indicators : optionally passengers need to
                                provide their age
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Identity" type="passenger:Identity" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Proof of identity provided for the current passenger.
                                Occurrence Indicators : optionally passengers need to provide one to many Ids
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="MobilePhoneNumber" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Occurrence Indicators : optionally passengers need to
                                provide one to many Mobile Phone Number
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="EmailAddress" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Occurrence Indicators : optionally passengers need to
                                provide one to many Email Address
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="PRMPass" type="tariff:Pass" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Details of the PRM pass owned by the current passenger.
                                Occurrence Indicators : optionally, one to many PRM Pass can be provided
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="BenefitCard" type="tariff:BenefitCard" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Details of the BenefitCards owned by the current passenger.
                                Occurrence Indicators : optionally, one to many Benefit Card can be provided
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Pass" type="tariff:Pass" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Details of the passes owned by the current passenger.
                                Occurrence Indicators : optionally, one to many Benefit Card can be provided
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CorporateAccount" type="tariff:CorporateAccount" minOccurs="0"
                                 maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Details of the corporate accounts linked to the current
                                passenger. Occurrence Indicators : optionally, one to many Corporate Account can be
                                provided
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Voucher" type="tariff:Voucher" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Details of the voucher owned by the current passenger.
                                Occurrence Indicators : optionally, one to many Voucher can be provided
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="LoyaltyCard" type="tariff:LoyaltyCard" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Details of the loyalty card owned by the current passenger.
                                Occurrence Indicators : optionally, one to many loyalty card can be provided
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="Name" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Some services require the provision of a passenger’s last
                            name
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="FirstName" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Some services require the provision of a passenger’s first
                            name
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="Gender" type="common:MasterData.GUID" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">MasterData type used to indicates the gender of the current
                            passenger
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="PassengerPreference">
        <xsd:sequence minOccurs="0" maxOccurs="1">
            <xsd:element name="SpecialOrder" type="tariff:SpecialOrder" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">List of special orders which are requested for the current
                        passenger. Occurrence Indicators : one to many "SpecialOrder" can optionally be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Preference" type="passenger:Preference" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">List of preference for the current passenger. Occurrence Indicators
                        : one to many "Preference" can optionally be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PlaceReference" type="transportation:PlaceReference" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Linkage with a specific place reference. Most of the services
                        and equipment is bound to a compartment or a place. The
                        reference to a place is made by the class PlaceReference. This
                        class can only be instantiated if identifiers for coach or
                        compartment or place are available. This may not always be the
                        case with the initial request. If a place map is provided with
                        the itinerary and the client app implements a two-step workflow,
                        the customer is able to indicate a concrete place. In case of
                        an adjustment or completion of an offer which encompasses an
                        addition or change of one of these services the place reference
                        must be set.
                        If a rail service provider is able to return a concrete place or a
                        place map with his carrier-offer, a place bound to a passenger
                        must be referred to by its ID.
                        Occurrence Indicators : one to many "PlaceReference" can optionally be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RequestedAncillaryService" type="offering:RequestedAncillaryService" minOccurs="0"
                         maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">List of ancillary services which are requested for the current
                        passenger. Occurrence Indicators : one to many "RequestedAncillaryService" can optionally be
                        defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RequestedPRMSupport" type="offering:RequestedPRMSupport" minOccurs="0"
                         maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">List of support services for passengers with reduced mobility which
                        are requested for the current passenger. Occurrence Indicators : one to many
                        "RequestedAncillaryService" can optionally be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OfferingPassengerPreference">
        <xsd:complexContent>
            <xsd:extension base="passenger:PassengerPreference">
                <xsd:sequence minOccurs="0" maxOccurs="1">
                    <xsd:element name="PassengerRefsList" type="xsd:IDREFS" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">At the OfferRequest stage, Passengers information is
                                provided "PassengerPreference" must refer to Passengers using IDREF. Occurrence
                                Indicators : if "PassengerPreference" element is defined, then at least one passenger
                                need to be referenced, IDREFS type allows to add multiple ID references separated with
                                white-spaces.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="PreBookingPassengerPreference">
        <xsd:complexContent>
            <xsd:extension base="passenger:PassengerPreference">
                <xsd:sequence minOccurs="0" maxOccurs="1">
                    <xsd:choice minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">
                                At PreBooking stage, in "DirectBooking" scenario : Passengers information is provided in
                                the "DirectBookingParameters" element. Then "PassengerPreference" must refer to
                                Passengers using IDREF.
                                At PreBooking stage, in standard "PreBooking" scenario : Passengers information is not
                                provided, it has been provided at Offering stage. Then "PassengerPreference" must refer
                                to Passengers using functional ID, by default this ID is the passengers RSP_ID in
                                attributes.
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:element name="PassengerIdRefsList" type="xsd:NMTOKENS" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Passenger identification. Occurrence Indicators : if
                                    "PassengerPreference" element is defined, then at least one passenger need to be
                                    referenced, IDREFS type allows to add multiple ID references separated with
                                    white-spaces.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="PassengerRefsList" type="xsd:IDREFS" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Passenger identification. Occurrence Indicators : if
                                    "PassengerPreference" element is defined, then at least one passenger need to be
                                    referenced, IDREFS type allows to add multiple ID references separated with
                                    white-spaces.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Preference">
        <xsd:sequence minOccurs="0" maxOccurs="1">
            <xsd:element name="PreferenceTypeId" type="common:MasterData.GUID" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">MasterData type used to define the type of particular preference
                        requested for a passenger (e.g. seat on driving direction). Occurrence Indicators : one and only
                        one PreferenceTypeId can be defined for a "Preference", this parameter is mandatory.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PreferenceValue" type="common:GenericTextMessage" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Preference plain text. Occurrence Indicators : only one
                        "PreferenceValue" can optionally be defined.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ContactInformation">
        <xsd:complexContent>
            <xsd:extension base="common:FSM.ID">
                <xsd:sequence minOccurs="0" maxOccurs="1">
                    <xsd:element name="Gender" type="common:MasterData.GUID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">MasterData type used to indicates the gender of the contact
                                information
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="LastName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="FirstName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="Address1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="Address2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="Address3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="Address4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="City" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="ZipCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="Country" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="MobilePhoneNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="LandlinePhoneNumber" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="EmailAddress" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="DeclineRecontact" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="MandatoryRecontact" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
