sprint_files/tmpbk35qzs8/standard/StructuralModel-XSD/GeoInfra/JourneyPlan.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by SNCF  VFE-SIV (SNCF  VFE-SIV) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://domainmodel.pts_fsm.org/2015/10/29/common"
            xmlns:connection="http://domainmodel.pts_fsm.org/2015/10/29/connection"
            xmlns:transportation="http://domainmodel.pts_fsm.org/2015/10/29/transportation"
            xmlns:infrastructure="http://domainmodel.pts_fsm.org/2015/10/29/infrastructure"
            xmlns:journeyplan="http://domainmodel.pts_fsm.org/2015/10/29/journeyplan"
            targetNamespace="http://domainmodel.pts_fsm.org/2015/10/29/journeyplan" elementFormDefault="qualified">
    <xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/common" schemaLocation="../Common/Common.xsd"/>
    <xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/connection" schemaLocation="Connection.xsd"/>
    <xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/transportation"
                schemaLocation="Transportation.xsd"/>
    <xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/infrastructure"
                schemaLocation="Infrastructure.xsd"/>
    <xsd:complexType name="Itinerary">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An itinerary is a collection of one or more Segments.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="common:FSM.ID">
                <xsd:sequence minOccurs="0">
                    <xsd:element name="ServiceTypeId" type="common:MasterData.GUID" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">MasterData type used to indicate the type of transport
                                services. Service type characterizes the transport service by types of stops made by the
                                vehicle. It hence defines a basic pattern of a run. Occurrence Indicators : optionally,
                                one to many types of service can be provided
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Segment" type="journeyplan:Segment" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">A Segment is a portion of a Path serviced by the single
                                Vehicle associated with the Path and delimited by two Stop Places at which the Passenger
                                boards and deboards, respectively, the Vehicle. Occurrence Indicators : at least one
                                segment is required, many segment can be provided
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Segment">
        <xsd:complexContent>
            <xsd:extension base="common:FSM.ID">
                <xsd:sequence minOccurs="0">
                    <xsd:element name="ServiceModeId" type="common:MasterData.GUID" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">MasterData type used to indicates the mode of services or
                                the availability of equipment on-board of a vehicle. The mode of a service is
                                characterised by a time pattern. It basically defines at which times a service is
                                available. Occurrence Indicators : a segment can optionally be characterised by one
                                "ServiceModeId".
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RouteTypeId" type="common:MasterData.GUID" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">MasterData type used to indicates the type of route. In
                                general train paths are served by a vehicle whose configuration does not change. In few
                                cases the vehicle (in particular train) will change its ID or its composition of units
                                or may even be coupled with another train for a part of the route. Occurrence Indicators
                                : a segment can optionally be characterised by one "RouteTypeId".
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="TrainPathTypeId" type="common:MasterData.GUID" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">MasterData type used to indicates the type of train path
                                (e.g. highspeed path). Occurrence Indicators : a segment can optionally be characterised
                                by one "TrainPathTypeId".
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ServiceAvailabilityId" type="common:MasterData.GUID" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">MasterData type used to indicates the availability of a
                                service. A service can be restricted to periods of a day or be offered several times for
                                twenty-four hours per day. Occurrence Indicators : a segment can optionally be
                                characterised by one "ServiceAvailabilityId".
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Origin" type="infrastructure:StopPlace" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The first stop place in a segment at which the Passenger
                                boards. Occurrence Indicators : a segment must have one and only one "Origin".
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="StopPlace" type="infrastructure:StopPlace" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">A stop place is a specific Stop Point at which passengers
                                (other passengers than the ones defined for the current segment) can board and/or
                                deboard a Vehicle. Occurrence Indicators : a segment can optionally have one to many
                                "StopPlace".
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Destination" type="infrastructure:StopPlace" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The final stop place in a segment at which the Passenger
                                deboards. Occurrence Indicators : a segment must have one and only one "Destination".
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Connection" type="connection:ChangePoint" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">A connection defines spatial-temporal information for
                                passengers when they need to move by their own to a next segment. Occurrence Indicators
                                : in case the passenger travel on the final segment there is no "Connection", many
                                "Connections" can be defined (e.g. PRM suitable Connection, Fastest Connection without
                                luggage).
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Vehicle" type="transportation:Vehicle" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Transportation means (vehicle) associated with a segment.
                                Occurrence Indicators : at least on VehicleId is mandatory, in some particular cases
                                many "Vehicles" can be defined : in general segments are served by a vehicle whose
                                configuration does not change. In few cases the vehicle (in particular train) will
                                change its ID or its composition of units or may even be coupled with another train for
                                a part of the route.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="CarbonFootPrint">
        <xsd:complexContent>
            <xsd:extension base="common:FSM.ID">
                <xsd:sequence minOccurs="0">
                    <xsd:element name="co2Unit" type="common:MasterData.GUID">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">MasterData type used to indicates the unit associated to an
                                amount of consumed CO2 (e.g. kilogram, pound). Occurrence Indicators : "CarbonFootPrint"
                                must have one and only one "co2Unit"
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="co2Emission" type="common:NumericNonNegativeDecimal">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Quantity of co2 according the defined co2Unit. Occurrence
                                Indicators : CarbonFootPrint must have one and only one "co2Emission"
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
